*{
    margin: o;
    padding: o;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
    
}

/*-----INDEX-----*/

.logo {
    display: flex;
    float: left;
    margin-left: 4%; 
    width: 205px;
    height: 77px;
    padding: 5px;
    border-radius: 8px; 
}

.navbar {
    padding: 1.1%;
}

header nav  {
    width: 100%;    
}

.transparent{
    position: fixed; 
    z-index: 20;
    background-color: transparent;
    transition: ease-in 0.2s;

}

@media only screen and (max-width: 1020px) {
    .transparent {
     background-color: #6A0752;
    }
  }

.navChange{
    position: fixed; 
    z-index: 20;
    background-color: #6A0752;
    transition: ease-in 0.2s;
}

header nav ul{    
    margin-left: 50%;
}

header nav ul li{    
    margin-left: 30px; 
}

header nav ul li:hover {
    text-decoration: underline white;
}

header nav ul li a {
    border-radius: 8px;
    font-family: 'Roboto', sans-serif;
    color: white;
    opacity: 1;
    font-size: 1.5rem;
}

header nav ul li a:hover {
    color: rgba(128, 128, 128, 0.623);
    }

    .navbar-toggler {
        background-color: #E2D0DE;
        border: 1px solid white;
        border-radius: .25rem;
        margin-right: 3%;
    }

    .fa-chevron-circle-down:before {
        content: "\f13a";
        color: #6A0752;
        font-size: 1.7rem;
    }

main {
    background-image: url(../imagenes/back.png);
    max-height: 100vh;
    height: 100vh;
    text-align: center;
    padding-top: 20%;  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.conocenos-mas {  
    font-family: 'raleway', sans-serif;
    text-align: center;
    color: aliceblue;    
    letter-spacing: 0px;
    color: #FFFFFF;
    text-shadow: 0px 10px 20px #00000029;
    opacity: 1;
}

.conocenos-mas h1 {    
    text-shadow: 2px 2px 2px black; 
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
}


.conocenos-mas h2 {    
    text-shadow: 2px 2px 2px black; 
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}


@media only screen and (max-width: 720px) {
    .conocenos-mas h1 {
      margin-top: 30%;
      font-size: 8rem;
      text-shadow: 2px 2px 2px black; 
    }
  }

  
@media only screen and (max-width: 720px) {
    .conocenos-mas h2 {
      font-size: 3rem;
      text-shadow: 2px 2px 2px black; 
    }
  }

h1 {    
    font-weight: 800;
    font-size: 12rem;
    }

h2 {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 4rem;
}

.titulo {    
    color: #6A0752;    
    font-weight: 800;
    font-size: 5rem;  
    opacity: 1;
    padding: 10px;
    margin: auto;
}

/*-----¿QUE HACEMOS?-----*/

.tit-que-hacemos {
    padding-bottom: 4%;
    padding-top: 4%;
}

.tit-que-hacemos h2 {
    text-align: center; 
    color: #6A0752; 
    font-family: 'raleway', sans-serif;
    font-weight: 800;
    font-size: 5rem;  
    opacity: 1;
    padding-top: 2%;
}

.tit-que-hacemos h3 {
    font-family: 'raleway', sans-serif;
    text-align: center; 
    color: #6A0752;    
    font-weight: 300;
    font-size: 3rem;  
    opacity: 1;
}

.cajas-padre {
    margin: auto;
    position:relative;
    display:block;
} 

.cajas-servicios {
    padding-bottom: 10%;
}

.cajas-servicios h4 {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    color: #6A0752;

}

.caja-de-texto h4 {
    font-size: 3rem;
}

.caja-de-texto p {
    font-size: 1.4rem;
    color: black;
    }


.servicios, .nosotros, .portfolio, .contacto-row{
    
    margin-top: 20px;
}



  @media only screen and (max-width: 1000px) {
    .servicios-desktop {
      display: none;
    }
  }

  @media screen and (min-width:1001px){
    .servicios-mobile {
    display:absolute;
    }                            
   
   }

@media (max-width: 1000px) {
    .servicios-mobile {
      display: absolute;
    }
  }

  @media screen and (min-width: 1001px){
    .servicios-mobile {
    display:none;
    }                            
   
   }


   .servicios-desktop img {
    transition: all .6s ease-in-out;
  }

  .servicios-desktop img:hover { transform: scale(1.05); }



/*-----NOSOTROS-----*/

.nosotros {
    display: flex;
    text-align: center;
    margin: auto;
    padding-top: 4%;
    width: 50%;
}

#text-nosotros {
    text-align: center;
    font-size: 2rem; 
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    color: #6A0752;

}


/*---METODOLOGÍAS DE TRABAJO (SERVICIOS)---*/

.marketing {
    display: flex;
    justify-content: center;
    padding: 4%;
    background-color: #F6ECEC;
    height: auto;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}
.marketing h2.text-heading {
    color: #6A0752;
}
.marketing p {
    
    font-weight: 400;
    color: #6A0752;
}

@media screen and (max-width: 980px){
    .marketing {
    height:auto;
    }      
    
    .marketing p {
        margin-bottom: 12%;
    }

    .marketing .rounded-circle {
        margin-bottom: 2%;
    }  
   
   }

   @media screen and (min-width: 980px) {

    .ejecucion, 
    .medicion, 
    .ajuste  {
        padding-top: 6%;
    }
}

.text-heading {
    font-family: 'Roboto', sans-serif;
    font-size: 2.5rem;
}

.marketing .metodologias {
    margin-top: 0;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    color: #6A0752;
    font-size: 5rem;
}

.text-metodologias {
    text-align: center;
    align-items: center;
    align-content: center;
    margin: auto;
}

img.rounded-circle {
    display: flex;
    margin: auto;
    text-align: center;
    justify-content: center;
    transition: all .4s ease-in-out;
}

img.rounded-circle:hover { transform: scale(1.1); }

.marketing h2,p {
    
    font-family: 'Roboto', sans-serif;
    color: black;
    padding-top: 2%;
}

.marketing p {
    font-size: 2rem;
}

.marketing .metodologias {
    padding-bottom: 4%;
}

/*---PORTFOLIO---*/

.img-portfolio-padre {
    max-width: 100vh;
}

.img-portfolio {
    margin: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.titulo-portfolio {
    text-align: center;
    width: 100%;
    margin-top: 4%;
}

/*---FORMULARIO DE CONTACTO---*/

.contacto {
    
    background-image: url(../imagenes/background-contacto.png); 
    height: 100vh;     
    background-position: bottom;
}
.contacto-row {
    padding-top: 2%;  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    justify-content: center;
    margin: auto;

}

.contacto-row .titulo {
    color: #6A0752;    
    font-weight: 700;
    font-size: 5rem;  
    padding-top: 5%;
}

.form-group input {
    height: 35px;
    font-size: 1.4rem;
    border-radius: 50px;
}

textarea.form-control {
    height: auto;
    font-size: 1.5rem;
    border-radius: 20px;
    margin-bottom: 5%;
}

.boton-enviar {
    background-color: #6A0752;
    border: #FFFFFF;
    border-radius: 100px;
    font-size: 1.7rem;
}

.boton-enviar:hover {
    background-color: black;
}

.form-grid {
    padding-top: 10%;    
    font-size: 2rem;
    display: grid;
    grid-template-areas: "nombre-form email-form"
                         "cel-form provincia-form"
                         "text-form text-form";
}

.nombre-form {
    grid-area: nombre-form;
}

.email-form {
    grid-area: email-form;
}

.cel-form {
    grid-area: cel-form;
}
.provincia-form {
    grid-area: provincia-form;
}
.text-form {
    grid-area: text-form;
}

/*---FOOTER---*/ 


@media screen and (max-width: 980px){
    .links-footer {
    display:none;    
    }
}  

.footer.contacto  {
    width: 100%;
    background: white;
    box-shadow: 0px 0px 16px 0px white;
    margin-left: 0px;
    margin-right: 0px;
}

.footer-contacto {
    padding-top: 2%;
    padding-bottom: 2%;
}

.logo-footer {
    margin-right: 15%;
}
.footer-contacto nav ul li a{
    color: rgb(107,0,83);
    font-size: 1.2rem;
    display: inline-block;
}

.contactanos {
    margin: 0 10% 0 10%;
}
.titulo_contact {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    color: #6A0752;
}

.links__contacto,
.links__contacto a {
    font-family: 'Roboto', sans-serif;
    color: black;
}


.footer-contacto li {
    margin-bottom: 4%;
}

footer {
    background-color:rgb(107,0,83);
    color: white;
    padding-top: 3%;
    padding-bottom: 3%;
}


/*---WSP---*/
.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}

.my-float{
    margin-top:16px;
}
