*{
    margin: o;
    padding: o;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
    
}

/*-----INDEX-----*/

.logo {
    display: flex;
    float: left;
    margin-left: 4%;    
    margin-top: 20px;
    width: 205px;
    height: 77px;
    padding: 5px;
    border-radius: 8px; 
}


header nav  {
    width: 100%;
    background-color: transparent;
   /* background: rgb(107,0,83); */
   /* background: linear-gradient(360deg, rgba(107,0,83,1) 17%, rgba(153,0,150,1) 81%);  */
   /* box-shadow: 0px 0px 16px 0px white; */
}

header nav ul{    
    margin-left: 50%;
}

header nav ul li{    
    margin-left: 30px;
    margin-top: 20px;
}

header nav ul li a {
    border-radius: 8px;
    font-family: 'Roboto', sans-serif;
    color: white;
    opacity: 1;
    font-size: 1.5rem;
}

header nav ul li a:hover {
    color: rgba(128, 128, 128, 0.623);
    }

main {
    background-image: url(../imagenes/background.jpg);
    max-height: 100vh;
    height: 100vh;
    text-align: center;
    padding-top: 20%;  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.conocenos-mas {  
    font-family: 'Raleway', sans-serif;
    text-align: center;
    color: aliceblue;    
    letter-spacing: 0px;
    color: #FFFFFF;
    text-shadow: 0px 10px 20px #00000029;
    opacity: 1;
}

h1 {    
    font-weight: 800;
    font-size: 12rem;
    }

h2 {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 4rem;
}

.titulo {    
    color: #460750;    
    font-weight: 800;
    font-size: 3rem;  
    opacity: 1;
    padding: 10px;
}

/*-----¿QUE HACEMOS?-----*/

h3 {
    text-align: center;  
    color: #460750;    
    font-weight: 300;
    font-size: 3rem;  
    opacity: 1;
}

.tit-que-hacemos {
    padding-bottom: 4%;
    padding-top: 4%;
}

.cajas-padre {
    margin: auto;
    position:relative;
    display:block;
} 

.cajas-servicios {
    padding-bottom: 10%;
}

.cajas-servicios h4 {
    padding-top: 6%;    
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    color: #6A0752;

}

.caja-de-texto h4 {
    font-size: 3rem;
}

.caja-de-texto p {
    font-size: 1.2rem;
    }


.servicios, .nosotros, .portfolio, .contacto{
    
    margin-top: 20px;
}



  @media only screen and (max-width: 1000px) {
    .servicios-desktop {
      display: none;
    }
  }

  @media screen and (min-width:1001px){
    .servicios-mobile {
    display:absolute;
    }                            
   
   }

@media (max-width: 1000px) {
    .servicios-mobile {
      display: absolute;
    }
  }

  @media screen and (min-width: 1001px){
    .servicios-mobile {
    display:none;
    }                            
   
   }


  



/*-----NOSOTROS-----*/

.nosotros {
    display: flex;
    text-align: center;
    margin: auto;
    padding-top: 10%;
    width: 50%;
}

#text-nosotros {
    text-align: center;
    margin: 10px;
    font-size: 2rem; 
    font-weight: 300;

}


/*---METODOLOGÍAS DE TRABAJO (SERVICIOS)---*/

.marketing {
    display: flex;
    justify-content: center;
    padding: 4%;
    background-color: #F6ECEC;
    height: 100vh;
}

@media screen and (max-width: 980px){
    .marketing {
    height:auto;
    }      
    
    .marketing p {
        margin-bottom: 12%;
    }

    .marketing .rounded-circle {
        margin-bottom: 2%;
    }  
   
   }

.text-heading {
    font-family: 'Roboto', sans-serif;
    font-size: 2.5rem;
}

.text-metodologias {
    width: 40%;
    text-align: center;
    align-items: center;
    align-content: center;
    margin: auto;
}

img.rounded-circle {
    display: flex;
    margin: auto;
    text-align: center;
    justify-content: center;
}

.marketing h2,p {
    
    font-family: 'Roboto', sans-serif;
    color: #6A0752;
}

.marketing p {
    font-size: 1.2rem;
}

/*---PORTFOLIO---*/

.img-portfolio-padre {
    max-width: 100vh;
}

.img-portfolio {
    margin: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.titulo-portfolio {
    text-align: center;
    width: 100%;
    margin-top: 4%;
}

/*---FORMULARIO DE CONTACTO---*/
.contacto {
    background-image: url(../imagenes/background-contacto.png);
    max-height: 100vh;
    height: 100vh;
    padding-top: 2%;  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.bigicon {
    font-size: 30px;
    color: rgb(107,0,83);
}

.boton-enviar {
    background-color: #460750;
    border: #FFFFFF;
}

.boton-enviar:hover {
    background-color: black;
}

/*---FOOTER---*/

footer  {
    width: 100%;
    background: rgb(107,0,83);
  /*  background: linear-gradient(360deg, rgba(107,0,83,1) 17%, rgba(153,0,150,1) 81%); */
    box-shadow: 0px 0px 16px 0px white;
    margin-left: 0px;
    margin-right: 0px;

}

footer nav ul li a{
    color: azure;
    font-size: 1.2rem;
}